{{ define "main" }}

<section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-xl-4 col-lg-5" data-aos="fade-up">
          <div class="content">
            <h3>Why Choose <br />Triad Machines?</h3>
            <p>As the industry leader in off-site manufacturing equipment, for over 60 years, you will find that <strong>no one</strong> is more experienced at helping you increase production.</p>
            <p>There's a reason for why we are so many builder's first call. Find out why for yourself!</p>
            <div class="text-center">
              <a href="tel:18005687423" class="more-btn"><i class="bx bx-phone"></i> Click to Call! <i class="bx bx-phone"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7 d-flex">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Fastest Lead Times in the Industry</h4>
                  <p>Not a brag... just the facts! Also, Professional Installation is <strong>included</strong> with most equipment.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Essential in today's labor market</h4>
                  <p>Simply put: Triad Machines help you <strong>do more</strong> with the personel <strong>you already have</strong>.</p>
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Tremendous<br />ROI</h4>
                  <p><br /><strong>Triad Machines:</strong> Equipment that literally pays for itself through increased production throughput.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <p>No matter what size your business, or what might be your building specialty, Triad Machines has you covered.</p>
        <h3>We Manufacture Machines for:</h3>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="/img/services-1.png" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Modular Plants</h3>
              </a>
              <p>Triad Machines, including MEPs and ginormous Tilt/Transfer Tables, can be found in many of the most successful modular plants in North America. Explore our offerings!</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item">
            <div class="img">
              <img src="/img/services-2.png" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Stick Builders</h3>
              </a>
              <p>Let us help you with your off-site manufacturing and panelization equipment. Framing Tables, Sheathing Bridges, Floor Cassettes, Component Machines. Learn more!</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item">
            <div class="img">
              <img src="/img/services-3.png" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Steel Builders</h3>
              </a>
              <p>We design & manufacture machines and machine lines made especially for the needs of the light gauge steel stud builder. Explore your options!</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
          <div class="service-item">
            <div class="img">
              <img src="/img/services-4.png" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Shed Builders <br />& Tiny House</h3>
              </a>
              <p>Just because the products that you produce are smaller doesn't mean that your dreams are! We are helping builders, like you, increase production. Learn more!</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
          <div class="service-item">
            <div class="img">
              <img src="/img/services-5.png" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Pro Stair Builders</h3>
              </a>
              <p>Whether you are an established stair shop, or are considering adding a stair building profit center, we have the machines you need. Explore them!</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
          <div class="service-item">
            <div class="img">
              <img src="/img/services-6.png" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Specialty Industries</h3>
              </a>
              <p>We make both the popular & dependable Triad Drawer Machine AND a Pallet Table useful to those in the pallet making or pallet rebuilding industries.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Services Section -->

<!-- ======= Team Section ======= -->
{{ partial "team-bootslander" . }} 
<!-- End Team Section -->

  

  
{{ .Content }}


{{ end }}