<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container">

      <div class="row">
        <div class="col-xl-7 col-lg-7 d-flex justify-content-center align-items-stretch position-relative" style="background-image: url(/img/triad-wood-texture-h-cool80.png);" data-aos="fade-right">
          <div class="img-wrapper">
          <img class="about-image" style="width: 100%;" src="/img/about-img.jpg" alt="Merrick Machine Company, Then and Now.">
          </div>
        </div>

        <div class="col-xl-5 col-lg-5 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h4 data-aos="fade-up">About MMC:</h4>
          <h3 data-aos="fade-up">Makers of Triad Machines</h3>
          <p data-aos="fade-up"></p>

          <div class="icon-box" data-aos="fade-up">
            <div class="portrait-item"><img class="portrait" src="/img/jim.jpg" alt="Jim Merrick"></div>            
            <h4 class="title"><span>Our Founder:</span> Jim Merrick</h4>
            <p class="description">Jim L. Merrick, is considered on of the three pioneers in the innovation of automated machines for the building industry. MMC started in Jim's filling station garage, but quickly outgrew it and moved to a dedicated facility. Jim died in 2002 with his legacy established, and the stage set for the continued growth of his company into the future.</div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="portrait-item"><img class="portrait" src="/img/russ.jpg" alt="Rick Merrick"></div>
            <h4 class="title"><a href=""><span>2nd Generation:</span> Diversification</a></h4>
            <p class="description">His son, Rick Merrick, saw to not only to the growth, but the diversification of the businesses. Consequently, Merrick Machine Company is just one of the Merrick Family of businesses today. Today, Rick is the company's Chairman Emeritus, and is having a ball with the Merrick Auto Museum - now home to the countries largest collection of vintage automobile ephemera.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="portrait-item"><img class="portrait" src="/img/russ.jpg" alt="Russ Merrick"></div>
            <h4 class="title"><a href=""><span>3rd Generation:</span> Unprecedented Sales</a></h4>
            <p class="description">Jim's grandson, Russ Merrick, is not your "typical" CEO: You are likely to find Russ "pitching in" on the MMC production floor - assisting whenever he sees a production bottleneck beginning to occur. His leadership inspires everyone who works for today's companies. The result? Merrick Machine Co. is setting business records. Yet we know that our business future is based on making YOUR business more successful.</p>
          </p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->