  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>Welcome to Triad Machines</h1>
      <h2>Proudly serving pro builders & the off-site manufacturing industry for over 60 continuous years.</h2>
      <div class="d-flex align-items-center">
        <i class="bx bx-phone get-started-icon"></i>
        <a href="tel:18005687423" class="btn-get-started scrollto">It starts with one call: 1-800-568-7423 ext. 133</a>
      </div>
    </div>
  </section><!-- End Hero -->