
// call with shortcode (example):
// youtube id="w7Ft2ymGmfc" autoplay="true" color="white" yt_start="12" yt_end="24"
<div class="container text-center my-5 ratio ratio-16x9">
    <iframe src="https://www.youtube.com/embed/{{ .Get "id" }}?enablejsapi=1{{ with .Get "color" }}{{ if eq . "white" }}&color=white{{ end }}{{ end }}{{ with .Get "autoplay" }}{{ if eq . "true" }}&autoplay=1{{ end }}{{ end }}{{ if isset .Params "yt_start" }}&start={{ .Get "yt_start" }}{{ end }}{{ if isset .Params "yt_end" }}&end={{ .Get "yt_end" }}{{ end }}{{ with .Get "modestbranding" }}{{ if eq . "true" }}&modestbranding=1{{ end }}{{ end }}"{{ if .Get "class" }} class="{{ .Get "class" }}"{{ end }} allowfullscreen></iframe>
    <div class="no-js-message">
        The YouTube player can not be loaded with disabled JavaScript. <br>
        The following video is embedded here: <br>
        <a href="https://youtube.com/watch?v={{ .id }}" target="_blank">
            https://youtube.com/watch?v={{ .id }}
        </a>
    </div>
</div>