/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: $default;
  font-size: 14px;
  background: $white;

  .footer-top {
    padding: 60px 0 30px 0;
    background: lighten($secondary, 45);
    
    .contact {
      form {
        margin-top: 30px;
        margin-bottom: 30px;
        background: $secondary;
        padding: 6px 10px;
        position: relative;
        border-radius: 50px;
        text-align: left;
        border: 1px solid lighten($primary, 56);
      }

      h4 {
        font-size: 22px;
        margin: 0 0 30px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 700;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: $font-primary;
        color: #000;
      }
    }
  }

    .footer-links {
      margin-bottom: 30px;
      h4 {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        position: relative;
        padding-bottom: 12px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 10px 0;
          &:first-child {
            padding-top: 0;
          }
          display: flex;
          align-items: center;
        }

        i {
          padding-right: 2px;
          color: lighten($primary, 20);
          font-size: 18px;
          line-height: 1;
        }

        a {
          color: #000;
          transition: 0.3s;
          display: inline-block;
          line-height: 1;
          &:hover {
            text-decoration: none;
            color: $primary;
          }
        }
      }
    }

     .footer-info {
        h3 {
        font-size: 22px;
        color: #fff;
        margin: 0 0 30px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 700;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 0;
          font-family: $font-primary;
          color: #fff;
          }

        .social-links {
          a {
            font-size: 18px;
            display: inline-block;
            background: $primary;
            color: $white;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
            &:hover {
              background: lighten($primary, 10);
              color: #fff;
              text-decoration: none;
              }
            }
          }

          .btn {
            background-color: $primary;
            color: #fff;
            &:hover {
              background: lighten($primary, 10);
              color: #fff;
              text-decoration: none;
              }
          }
        }

     .footer-newsletter {
        font-size: 15px;

        h4 {
          font-size: 24px;
          font-weight: bold;
          color: $default;
          position: relative;
          padding-bottom: 12px;
        }        
      }

  .credits {
    padding-top: 5px;
    font-size: 13px;
    color: $default;
    }  
  }
