{{ define "main" }}
{{ $bgimage := resources.Get "img/Steel-breadcrumbs-bg.jpg" }}

   
<section id="category-pages" class="mentor-events pt-0">
    <div class="container" data-aos="fade-up">
        <div class="bgimage" style="background-image: url('{{$bgimage.RelPermalink | safeURL }}');">
        <div class="section-header py-4" style="color:White;">
            
            <h2 style="color:white;">All Machines for Light Gauge Steel Stud Builders</h2>
            <div class="row p-4"><ul class="text-center"><li><a href="#tables" class="btn-sm m-4">Tables for Wall Panelization</a></li> <li><a href="#bridges" class="btn-sm m-4">For Sheathing</a></li> <li><a href="#component" class="btn-sm m-4">Components</a></li> <li><a href="#floor" class="btn-sm m-4">Floors & Decking</a></li></ul></div>
        </div>
        
        
        <div class="row p-4 mt-0">
         <h3 id="tables" style="color:White;">Tables</h3> 
        {{ $pageArray := where .Site.Pages ".Params.category" "intersect" (slice "Steel") }}
           
            {{ $pageArray2 := where $pageArray ".Params.tags" "intersect" (slice "panelization") }}
            
            {{ range $pageArray2.ByWeight }}   
            <div class="col-lg-4 col-md-6 d-flex py-2" data-aos="zoom-in" data-aos-delay="50">
                <a href="{{ .Permalink }}" class="index-anchor">    
                <div class="card h-60">
                    {{ if .Params.categoryImage }}
                        {{ with .Resources.GetMatch .Params.categoryImage }}
                            
                        <div class="card-img">
                            <img width="100%" src="{{ .RelPermalink }}" alt="{{ .Title }}" class="image-fluid">
                        </div>  
                            
                        {{ end }}
                    {{ end }}
                    <div class="card-body">  
                            <h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title | truncate 35 }}</a></h5>
                            <p class="card-text pb-2">
                                {{ .Summary | safeHTML | truncate 180 }} <br />
                                <div class="row justify-content-center"><a href="{{ .Permalink }}" class="btn"> Details...</a>
                            </div>
                            </p>
                               
                    </div>
                    
                </div>
                </a>
            </div> 
            {{ end }} 
            </div>

            <div class="row p-4 mt-0">
              <h3 id ="bridges" style="color:White;">For Sheathing</h3> 
             {{ $pageArray := where .Site.Pages ".Params.category" "intersect" (slice "Steel") }}
                
                 {{ $pageArray2 := where $pageArray ".Params.tags" "intersect" (slice "sheathing") }}
                 
                 {{ range $pageArray2.ByWeight }}   
                 <div class="col-lg-4 col-md-6 d-flex py-2" data-aos="zoom-in" data-aos-delay="50">
                     <a href="{{ .Permalink }}" class="index-anchor">    
                     <div class="card h-60">
                         {{ if .Params.categoryImage }}
                             {{ with .Resources.GetMatch .Params.categoryImage }}
                                 
                             <div class="card-img">
                                 <img width="100%" src="{{ .RelPermalink }}" alt="{{ .Title }}" class="image-fluid">
                             </div>  
                                 
                             {{ end }}
                         {{ end }}
                         <div class="card-body">  
                                 <h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title | truncate 35 }}</a></h5>
                                 <p class="card-text pb-2">
                                     {{ .Summary | safeHTML | truncate 180 }} <br />
                                     <div class="row justify-content-center"><a href="{{ .Permalink }}" class="btn"> Details...</a>
                                 </div>
                                 </p>
                                    
                         </div>
                         
                     </div>
                     </a>
                 </div> 
                 {{ end }} 
                 </div>

                 <div class="row p-4 mt-0">
                  <h3 id="component" style="color:White;">Component Building</h3> 
                 {{ $pageArray := where .Site.Pages ".Params.category" "intersect" (slice "Steel") }}
                    
                     {{ $pageArray2 := where $pageArray ".Params.tags" "intersect" (slice "component") }}
                     
                     {{ range $pageArray2.ByWeight }}   
                     <div class="col-lg-4 col-md-6 d-flex py-2" data-aos="zoom-in" data-aos-delay="50">
                         <a href="{{ .Permalink }}" class="index-anchor">    
                         <div class="card h-60">
                             {{ if .Params.categoryImage }}
                                 {{ with .Resources.GetMatch .Params.categoryImage }}
                                     
                                 <div class="card-img">
                                     <img width="100%" src="{{ .RelPermalink }}" alt="{{ .Title }}" class="image-fluid">
                                 </div>  
                                     
                                 {{ end }}
                             {{ end }}
                             <div class="card-body">  
                                     <h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title | truncate 35 }}</a></h5>
                                     <p class="card-text pb-2">
                                         {{ .Summary | safeHTML | truncate 180 }} <br />
                                         <div class="row justify-content-center"><a href="{{ .Permalink }}" class="btn"> Details...</a>
                                     </div>
                                     </p>
                                        
                             </div>
                             
                         </div>
                         </a>
                     </div> 
                     {{ end }} 
                     </div>

                     <div class="row p-4 mt-0" id="floor">
                        <h3 style="color:White;">Floor Decks</h3> 
                       {{ $pageArray := where .Site.Pages ".Params.category" "intersect" (slice "Wood") }}
                          
                           {{ $pageArray2 := where $pageArray ".Params.tags" "intersect" (slice "floor") }}
                           
                           {{ range $pageArray2.ByWeight }}   
                           <div class="col-lg-4 col-md-6 d-flex py-2" data-aos="zoom-in" data-aos-delay="50">
                               <a href="{{ .Permalink }}" class="index-anchor">    
                               <div class="card h-60">
                                   {{ if .Params.categoryImage }}
                                       {{ with .Resources.GetMatch .Params.categoryImage }}
                                           
                                       <div class="card-img">
                                           <img width="100%" src="{{ .RelPermalink }}" alt="{{ .Title }}" class="image-fluid">
                                       </div>  
                                           
                                       {{ end }}
                                   {{ end }}
                                   <div class="card-body">  
                                           <h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title | truncate 35 }}</a></h5>
                                           <p class="card-text pb-2">
                                               {{ .Summary | safeHTML | truncate 180 }} <br />
                                               <div class="row justify-content-center"><a href="{{ .Permalink }}" class="btn"> Details...</a>
                                           </div>
                                           </p>
                                              
                                   </div>
                                   
                               </div>
                               </a>
                           </div> 
                           {{ end }} 
                           </div>
      </div>
  </div>
  </section>
  {{ end }}