
<h3 class="sidebar-title">Tool Dolly Options</h3>
    <div class="sidebar-item recent-posts">
    <div class="post-item clearfix">
        <a href="/machine/tool_dollies.html"></a>
        <img src="/img/DollyOptions.jpg" alt="Tool Dolly options for our framing tables">
    </div>
    </div>

    {{ $categoryS := .Params.category }}
    {{ $tagS := .Params.tags }}
    <h3 class="sidebar-title">Bridge Options</h3>
    <div class="sidebar-item recent-posts">
    <div class="post-item clearfix">
        {{ if $tagS "intersect" slice "panelization" }}
            {{ if $categoryS "intersect" slice "Wood" }}
                <a href="/machine/tool_dollies.html">
            {{ else }}
                {{ if $categoryS "intersect" (slice "Steel") }}
                    <a href="/machine/screw_dollies.html">
                {{ end }}
            {{ end }}
        <img src="/img/DollyOptions.jpg" alt="Tool Dolly options for this framing table">
        </a>
        {{ end }}
    </div>
    </div>
