{{ define "main"}}
<main id="main">

<!-- ========== Machine Name and Breadcrumbs ========== -->
{{ $category := .Page.Params.Category }}
{{ $filenameBeginning := $category }}
{{ $filenameEnding := "-breadcrumbs-bg.jpg" }}
{{ $combinedFilename := printf "%s%s" $filenameBeginning $filenameEnding }}
{{ $directory := "img/"}}
{{ $bgimage := printf "%s%s" $directory $combinedFilename }}
{{ $assetImage := .Resources.GetMatch $bgimage}}
{{ with $assetImage }}
    <div class="breadcrumbs d-flex align-items-center" style="background-image:url('{{$assetImage.RelPermalink | safeURL }}');">
{{ else }}
   {{ warnf (printf "Page '%s', bgimage: %s" .TranslationKey $bgimage ) }}
{{ end }}
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        <img src="/img/logo-egg.png" alt="Triad logo" class="image-fluid"> 
      <h2>{{ .Params.title }}</h2>
      <ol>
        <li><a href="/">Machines</a></li>
        <li><a href="{{ .Params.thisCategoryURL }}">{{ .Params.thisCategoryHeading }}</a></li>
        <li>{{ .Params.title }}</li>
      </ol>
    </div>
</div><!-- End Breadcrumbs -->
   <!-- ======= Blog Single Section ======= -->
   <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row d-flex justify-content-center">

        <div class="col-lg-8 entries">
          <div class="entry entry-single">
            {{ if isset .Page.Params "carouselEnable" }}
            {{ $images := .Page.Resources.Match "slides/*" }}
            {{ $ratio := (slice 16 9) }}
            <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel" data-bs-interval="1900">
              <ol class="carousel-indicators">
                {{ range $index, $value := $images }}
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ $index }}" {{ if eq
                    $index 0 }}class="active" aria-current="true" {{ end }}aria-label="Slide {{ add $index 1}}"></li>
                {{ end }}
              </ol>
              <div class="carousel-inner" role="listbox">
                {{ range $index, $value := $images }}
                  {{ $width := $value.Width }}
                  {{ $heightRatio := div (index $ratio 1 | float) (index $ratio 0 | float) }}
                  {{ $height := mul $width $heightRatio | int }}
                  {{ $fill := $value.Fill (printf "%dx%d" $width $height) }}
                  <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
                    <img src="{{ $fill.RelPermalink }}" class="d-block w-100 img-fluid" alt="Slide {{ add $index 1}}">
                  </div>
                  {{ end }}
                  </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
            {{ else }}
            {{ $mainImage := $.Page.Resources.GetMatch "mainImage*" }}
            {{ if $mainImage }}
              <img src="{{ $mainImage.RelPermalink }}" alt="{{ .Params.genericAlt }}" class="image-fluid" width="100%">
            {{ else }}
              <h2>No Main Image</h2>  
            {{ end }}
            {{ end }}
            <h2 class="entry-title">{{ .Params.title }}</h2>
            <div class="entry-content">

            {{ .Content }}

            </div>
            <div class="entry-footer">
              <i class="bi bi-folder"></i>
              <ul class="cats">
                <li><a href="#">{{ .Params.thisCategoryHeading }}</a></li>
              </ul>

              <i class="bi bi-tags"></i>
              <ul class="tags">
                  {{ $tags := .Params.tags }}
                  {{ range $tags }}
                    <li><a href="tags/{{ . }}/">{{ . | upper }}</a></li>
                  {{ end }}
              </ul>
            </div>
          </article><!-- End blog entry -->
        </div>
      </div>


    <div class="col-lg-4">
        <div class="sidebar p-4">
         <!-- End sidebar search formn-->

          <h3 class="sidebar-title">General Machine Categories</h3>
          <div class="sidebar-item categories">
            <ul>
              <li><a href="#">For Wood <span>(25)</span></a></li>
              <li><a href="#">For Steel <span>(22)</span></a></li>
              <li><a href="/for-professional-stair-builders/">For Stairs <span>(9)</span></a></li>
              <li><a href="#">For Material Handling <span>(22)</span></a></li>
              <li><a href="#">For Pallet-Making <span>(1)</span></a></li>
              <li><a href="#">For Drawer-Making <span>(1)</span></a></li>
            </ul>
          </div><!-- End sidebar categories-->

          <h3 class="sidebar-title">Recent News</h3>
          <div class="sidebar-item recent-posts">
            <div class="post-item clearfix">
              <img src="assets/img/blog/blog-recent-1.jpg" alt="">
              <h4><a href="blog-single.html">Links to a Lowell LinkedIn article</a></h4>
              <time datetime="2020-01-01">Jan 1, 2020</time>
            </div>

            <div class="post-item clearfix">
              <img src="assets/img/blog/blog-recent-2.jpg" alt="">
              <h4><a href="blog-single.html">Press Release: Triad StairBoss Pro</a></h4>
              <time datetime="2020-01-01">Jan 1, 2020</time>
            </div>

            <div class="post-item clearfix">
              <img src="assets/img/blog/blog-recent-3.jpg" alt="">
              <h4><a href="blog-single.html">Material Handling: Plate Cart Redesigned</a></h4>
              <time datetime="2020-01-01">Jan 1, 2020</time>
            </div>

            <div class="post-item clearfix">
              <img src="assets/img/blog/blog-recent-4.jpg" alt="">
              <h4><a href="blog-single.html">See Triad Machines at Upcoming BCMC Show</a></h4>
              <time datetime="2020-01-01">Jan 1, 2020</time>
            </div>

          </div><!-- End sidebar recent posts-->

          <h3 class="sidebar-title">Stair-Related Tags</h3>
          <div class="sidebar-item tags">
            <ul>
              <li><a href="#">Stringer Saw</a></li>
              <li><a href="#">Open Stringers</a></li>
              <li><a href="#">Opencut Stringers</a></li>
              <li><a href="#">Skirt-boards</a></li>
              <li><a href="#">Stair Router</a></li>
              <li><a href="#">Stair Assembly Clamp</a></li>
              <li><a href="#">Stair Lift</a></li>
              <li><a href="#">CNC</a></li>
              <li><a href="#">Fanuc</a></li>
              <li><a href="#">Wedge & Glue Block Machine</a></li>
              <li><a href="#">Upcycle Scrap</a></li>
              <li><a href="#">Bullnose Saw</a></li>
              <li><a href="#">Balluster / Handrail Machine</a></li>
              <li><a href="#">Stringer Cart</a></li>
            </ul>
          </div><!-- End sidebar tags-->
        </div><!-- End sidebar -->
      </div><!-- End blog sidebar -->
    </div>
</div>
</section><!-- End blog entries list -->  
{{ end }}     
