@media screen and (max-width: 567) {
.cards-wrapper {
  display: flex;
}

.card {
  margin: 0 .5em;
  width: calc(100%/3);
}

.image-wrapper {
  /*height: 22vw;*/
  margin: 0 auto;
  /*display: flex;
  align-items: center;
  justify-content: center; */
}
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: $primary;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    background: $primary;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }