/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: darken($secondary, 5);
  padding: 0 0 30px 0;
  color: $white;
  font-size: 14px;

  .row {
    padding: 20px;
  }


  .footer-top {
    background: darken($secondary, 2);
    padding: 60px 0 30px 0;
    h4 {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      position: relative;
      padding-bottom: 12px;
      }

    .footer-info {
      margin-bottom: 30px;
      margin-left: 30px;
      h3 {
        font-size: 24px;
        margin: 0 0 20px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 700;
      }

      i {
        position: relative;
        font-size: 14px;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: $font-primary;
        color: $white;
      } 

      .social-links {
        svg {
          background-color: $primary;
        }
        a {
          font-size: 18px;
          display: inline-block;
          background: rgba($white, .1);
          color: $white;
          line-height: 1;
          padding: 8px 0;
          margin-right: 4px;
          margin-bottom: 40px;
          border-radius: 4px;
          text-align: center;
          width: 36px;
          height: 36px;
          transition: 0.3s;
          &:hover {
            background: $primary;
            color: #fff;
            text-decoration: none;
            }
          }
        }

        button.btn {
          background-color: $primary;
          color: #fff;
          &:hover {
            background: lighten($primary, 8);
            }
          } 
        }

    .footer-links {
      margin-bottom: 60px;
      h4 {
        padding: 0 0 0 30px;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 5px;
        color: #fff;
        }
        
      }
      ul{
        list-style: none;
        padding-top: 20px;
        margin: 0;

        i {
          padding-right: 2px;
          color: rgba($white, .6);
          font-size: 18px;
          line-height: 1;
        }

        li {
          padding: 10px 0;
          &:first-child {
            padding-top: 0;
          }
          display: flex;
          align-items: center;
        }

        a {
          font-size: 18px;
          color: rgba($white, .7);
          text-decoration: none;
          transition: 0.3s;
          display: inline-block;
          line-height: 1;
          &:hover {
            color: white;
          }
        }
    }

    .footer-newsletter {
      margin-bottom: 5px;
  
      
      
          h3 {
            padding: 0 0 0 10px;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 5px;
            color: #fff;
          }
      
          p {
            padding: 0 0 0 10px;
            margin-bottom: 0;
            font-size: 18px;
            color: #fff;
          }
      
        .php-email-form {
          width: 100%;
          background: $secondary;
          margin-top: 10px;
          padding: 2px 2px;
          position: relative;
          border-radius: 4px;
      
          .form-group {
            padding-bottom: 4px;
          }
          
          .error-message {
            display: none;
            color: #fff;
            background: #ed3c0d;
            text-align: left;
            padding: 15px;
            font-weight: 600;
            & br + br {
              margin-top: 25px;
            }
          }
          
          .sent-message {
            display: none;
            color: #fff;
            background: #18d26e;
            text-align: center;
            padding: 15px;
            font-weight: 600;
          }
        
          .loading {
            display: none;
            background: #fff;
            text-align: center;
            padding: 15px;
        
            &:before {
              content: "";
              display: inline-block;
              border-radius: 50%;
              width: 24px;
              height: 24px;
              margin: 0 10px -6px 0;
              border: 3px solid #18d26e;
              border-top-color: #eee;
              animation: animate-loading 1s linear infinite;
            }
        
          }
      
          input, textarea {
            border-radius: 0;
            box-shadow: none;
            font-size: 14px;
            border-radius: 4px;
            &:focus {
              border-color: $primary;
            }
          }
      
          input {
            height: 44px;
          }
      
          textarea {
            padding: 10px 12px;
          }
      
          button[type="submit"] {
            background: $primary;
            border: 0;
            padding: 10px 24px;
            color: #fff;
            transition: 0.4s;
            border-radius: 4px;
            &:hover {
              background: darken($primary, 10%);
            }
          }
        }
      
        @keyframes animate-loading {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
    }

  }

  .copyright {
    text-align: center;
    padding-top: 30px;
  }

  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: rgba(white, .6);
    a {
      color: rgba(white, .6);
      transition: 0.3s;
      font-weight: 600;
      &:hover {
        color: white;
      }
    }
  }
}
