@media (min-width : 992px) {
    .offcanvas {
      visibility      : visible;
      position        : relative;
      background      : none;
      border          : none;
    }
  }
  
  @media (max-width : 992px) {
    .offcanvas-body {
      width : 350px !important;
      background-color :#eee;
      justify-content: flex-start;
    }
  
    .offcanvas-start-lg {
      top          : 0;
      left         : 0;
      background-color: $primary;
      border-right : 2px solid rgba(0, 0, 0, .2);
      transform    : translateX(-100%);
    }

    button {
      .btn-danger {
        width: 150px;
      }
    }
  
  }