#topbar {
  background: darken($secondary, 5);
  font-size: 14px;
  padding: 0;
  color: rgba($white, .8);
  height: 40px;

  .contact-info {

    i {
      font-style: normal;
      color: #ddd;

      a, span {
        padding-left: 5px;
        color: #fff;
      }

      a {
        line-height: 0;
        transition: 0.3s;
        &:hover {
          color: #fff;
        }
      }

    }
  }

  .cta {

    a {
      color: $white;
      background: $primary;
      padding: 10px 20px;
      display: inline-block;
      transition: 0.3s;

      &:hover {
        background: lighten($primary, 5);
      }
    }
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 4px 0;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  @media (max-width: 1200px) {
    padding: 12px 0;
  }

  &.sticked {
    background:  rgba($white, .8);
    padding: 12px 0;
  }

  .logo {
    img {
      max-height: 40px;
      margin-right: 6px;
    }
    
    h1 {
      font-size: 30px;
      font-weight: 700;
      color: #fff;
      font-family: $font-secondary;
      margin: 0;
    }

  }
  .scrolled-offset {
    margin-top: 70px;
  }
  
  #main {
    z-index: 3;
  }
}
