/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: flex-start;
  }

  li {
    position: relative;
    list-style-type: none;
  }
  
  a, a:focus {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: $font-secondary;
    font-size: 15px; 
    font-weight: 500;
    color: $secondary;
    white-space: nowrap;
    transition: 0.3s;
  

    i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  }

  .getstarted, .getstarted:focus {
    background: $primary;
    padding: 8px 25px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
    &:hover {
      color: #fff;
      background: lighten($primary, 8);
    }
  }

  .dropdown {

    ul {
      display: block;
      position: absolute;
      left: 14px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      transition: 0.3s; 
    }
      
      li {
        min-width: 200px; 
        .nav-item .dropdown-toggle {
            vertical-align: middle;
            }
          }  

      a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        font-weight: 400;
        i {
          font-size: 12px;
        }
      }

      a:hover, .active:hover, li:hover > a {
        color: $primary;
      }

    }

    &:hover > ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  }

  .dropdown .dropdown {
    ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }

    &:hover > ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }

    @media (max-width: 1366px) {
      ul {
        left: -90%;
      }

      &:hover > ul {
        left: -100%;
      }
    }
  }


/**
* Mobile Navigation - see _nav-offcanvas.scss 
*/

